extends ../layout

block content
  //- h1= title
  //- p Welcome to #{title}
  h2.page-title #{title}
  div.page-navigation
    a(class="add-new-btn btn", href="/patrons/new") Create new patron
  
  div.container
    div.flex-row
      div.content-wrapper
        form(action="/patrons/search", method="post", class="search-form margin-bottom")
          input(type="text", placeholder="Search", id="search_term" name="search_term" class="search-input margin-right")
          input(type="submit", value="Search", class="search-submit margin-left")

        table.table
          tr
            thead
              th Name
              th Address
              th Email
              th Library ID 
              th Zip Code
            tbody
              each patron in patrons 
                tr
                  td
                    a(href="/patrons/" + patron.id, class="table-link")= patron.first_name + ' ' + patron.last_name
                    i.material-icons.table-link-icon open_in_new
                  td= patron.address
                  td= patron.email
                  td= patron.library_id
                  td= patron.zip_code
      
